<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>excelcalling_beta</title>
    <link href="/static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=c1c875adbe3423b81e6840c89217b6d0">
</head>

<body>
    <!-- Start: excel_header -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #f4db60;padding-bottom: 0px;padding-top: 0px">
        <div class="container">
            <a class="navbar-brand" href="#">Excelcalling</a>
            <div class="navbar">
                <a name="back" href="{{ url_for('choose_column_index') }}" style="color: green; margin-right: 0.2rem">
                    <i class="fas fa-caret-square-left fa-2x"></i>
                </a>
                  <a name="home" href="{{ url_for('hello_world') }}" style="color: green; margin-right: 0.2rem">
                    <i class="fas fa-h-square fa-2x"></i>
                </a>
{#                       <a name="save" href="#" style="color: green; margin-right: 0.2rem">#}
{#                    <i class="fas fa-save fa-2x"></i>#}
{#                </a>#}
            </div>
        </div>
    </nav><!-- End: excel_header -->
    <form method="post" action="{{ url_for("print_list") }}" >
    <div class="card" style="margin: 0.2rem;">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 1rem;background: #c9e8dd;padding: 0.1rem;">Column for names</h4>
            <select name="name_tag" class="custom-select custom-select-sm" required>
                <option value="">select column</option>
                    {% for i in range(df.shape[1]) %}
                        <option value={{i}}>{{cols[i]}}</option>
                    {% endfor %}
            </select>
            </p>
        </div>
    </div>
    <div class="card" style="margin: 0.2rem;">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 1rem;background: #c9e8dd;padding: 0.1rem;">Column for contact numbers</h4>
            <p class="card-text">
                <select name="contact_tag" class="custom-select custom-select-sm" required>
                <option value="">select column</option>
                    {% for i in range(df.shape[1]) %}
                        <option value={{i}}>{{cols[i]}}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
    </div>
    <div style="text-align: center;">
        <!-- Start: standard_button --><button class="btn btn-primary border rounded-0" type="submit" style="background: #c9e8dd;color: #222222;border-style: none;">Submit</button><!-- End: standard_button -->
    </div>
    </form>
    <div  style="padding: 0.5rem; text-align: center">
    <div style="padding: 0.5rem; text-align: center; margin: auto">
        <p style="text-align: center">
        {{ df.to_html(classes=("table-bordered", "table-striped", "table-hover")) | safe}}
            </p>
    </div>
        </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>




</html>