<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>excelcalling_beta</title>
    <link href="/static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=c1c875adbe3423b81e6840c89217b6d0">
</head>

<body>
        <!-- Start: excel_header -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #f4db60;padding-bottom: 0px;padding-top: 0px">
        <div class="container">
            <a class="navbar-brand" href="#">Excelcalling</a>
            <div class="navbar">
{#                <a name="back" href="{{ url_for('hello_world') }}" style="color: green; margin-right: 0.2rem">#}
{#                    <i class="fas fa-caret-square-left fa-2x"></i>#}
                </a>
                  <a name="home" href="{{ url_for('hello_world') }}" style="color: green; margin-right: 0.2rem">
                    <i class="fas fa-h-square fa-2x"></i>
                </a>
{#                       <a name="save" href="#" style="color: green; margin-right: 0.2rem">#}
{#                    <i class="fas fa-save fa-2x"></i>#}
{#                </a>#}
            </div>
        </div>
    </nav><!-- End: excel_header -->
    <div style="padding: 1.2rem;">
        <p style="font-size: 16px;font-family: Montserrat, sans-serif;font-weight: normal;">Call Directly using Excel File.........</p>
    </div>
    <div class="text-center" style="padding: 1.2rem;"><a href="{{ url_for("upload_page") }}" class="btn btn-primary" type="button" style="background: #8cd600;color: rgb(0,0,0);border-style: none;font-weight: bold;">Let's Start</a></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>