<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>excelcalling_beta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=c1c875adbe3423b81e6840c89217b6d0">
</head>

<body>
    <!-- Start: excel_header -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #f4db60;">
        <div class="container"><a class="navbar-brand" href="#">Excelcalling</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: rgb(0,0,0);filter: contrast(200%);border-style: none;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Download Excel</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: excel_header -->
    <div>
        <ul class="list-group">
            {% for i in range(df.shape[0]) %}
            <li class="list-group-item" style="padding: 0;padding-right: 0;padding-left: 0;padding-top: 0.4rem;padding-bottom: 0.4rem;">
                <div class="row" style="width: auto;max-width: auto;padding-right: 0;padding-left: 0;margin-right: 0.3rem;margin-left: 0.3rem;">
                    <div class="col-4 d-flex d-sm-flex d-md-flex align-items-center align-self-center order-2 align-items-sm-center justify-content-md-start" style="padding: 0;height: 32px;background: #ffd87f;padding-left: 0.32rem;"><span style="font-size: 0.8rem;">{{ df[name_tag].iloc[i] }}</span></div>
                    <div class="col-4 d-flex d-sm-flex d-md-flex align-items-center align-self-center order-3 align-items-sm-center justify-content-md-start" style="font-size: 0.8rem;padding: 0;height: 32px;background: #d8ddce;padding-left: 0.32rem;"><span>{{ df[contact_tag].iloc[i] }}</span></div>
                    <div class="col-2 d-flex align-items-center align-self-center order-1 justify-content-md-start" style="height: 32px;padding: 0;background: #f7d3b5;padding-left: 0.32rem;"><span style="font-size: 0.8rem;">{{ i+1 }}</span></div>
                    <div class="col-2 d-flex d-sm-flex d-md-flex justify-content-center align-self-center order-4 justify-content-sm-end justify-content-md-center" style="padding: 0;"><a href="tel:{{ df[contact_tag].iloc[i]}}" class="btn btn-primary border rounded-0 d-flex justify-content-center align-items-center" type="button" style="width: 3.1rem;height: 2em;background: #8cd600;color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;border-style: none;border-color: rgb(0,0,0);">call</a></div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>