<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>excelcalling_beta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=c1c875adbe3423b81e6840c89217b6d0">
</head>

<body>
    <!-- Start: excel_header -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #f4db60;">
        <div class="container"><a class="navbar-brand" href="#">Excelcalling</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: rgb(0,0,0);filter: contrast(200%);border-style: none;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Dropdown </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- End: excel_header -->
    <div style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
        <form method="post" action="{{ url_for('upload_file') }}" enctype=multipart/form-data>
            <input name="file" type="file" style="background: #8cd600;color: rgb(33, 37, 41);" required="">
            <div style="text-align: center; padding-top: 2rem">
                <!-- Start: standard_button --><button class="btn btn-primary border rounded-0" type="submit" style="background: #c9e8dd;color: #222222;border-style: none;">Submit</button><!-- End: standard_button -->
            </div>


        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>